<md-content >
<div  >

    <table class="table table-condensed table-stripped table-hover">
        <thead>
        <tr>
            <th class="col-md-1">
                №
            </th>
            <th>
                ID
            </th>

            <th>
                Name
            </th>

            <th>
                description
            </th>

            <th>
                POIs number
            </th>

            <th>
                image
            </th>

            <th>
                video
            </th>

            <th class="col-md-1">
                latitude
            </th>

            <th class="col-md-1">
                longitude
            </th>

            <th class="col-md-1">
                approximateRadius
            </th>

            <th></th>
        </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="poi in allPOIs">
                <td>{{$index + 1}}</td>
                <td>{{poi.id}}
                    <br>
                    {{poi.lastUpdate | date: 'medium'}}
                </td>
                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <input type="text" ng-model="poi.name">
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <input type="text" ng-model="poi.description">
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <input type="text" ng-model="poi.pois" disabled>
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <input type="text" ng-model="poi.imageUrl">
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <input type="text" ng-model="poi.videoUrl">
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <input type="number" ng-model="poi.location.latitude">
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <input type="number" ng-model="poi.location.longitude">
                    </md-input-container>
                </td>

                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <input type="number" ng-model="poi.approximateRadius">
                    </md-input-container>
                </td>


                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label></label>
                        <md-button ng-click="updatePoi(poi)" md-no-ink class="md-primary">save</md-button>
                        <md-button ng-click="deletePoi(poi, $index)" md-no-ink class="md-warn">delete</md-button>
                    </md-input-container>
                </td>
            </tr>
        </tbody>

    </table>


    <md-button ng-click="addPoi()" class="md-primary md-flat md-raised">Add</md-button>

    </div>
</md-content>